/* Utils */
/* Fonts */
/* Colors */
/* Background Colors */
/* Components */
.btn-cta {
  display: block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: white;
  padding: 0.8rem;
  border-radius: 10rem;
  background: #9356dc;
  background: linear-gradient(230deg, #9356dc 20%, #c96ade 65%, #ff79da 100%);
}

/* Base */
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

.bloc_page {
  max-width: 450px;
  margin: auto;
}

section {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.page-title {
  font-size: 1.5rem;
  align-items: flex-start;
}

/* layouts */
header {
  position: relative;
  padding: 0.6rem 0rem;
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 2px rgba(28, 28, 28, 0.08);
}
header h1 {
  font-family: "Shrikhand", cursive;
}

.menu-hero {
  width: 100%;
}
.menu-hero img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

.menu {
  background-color: red;
  border-radius: 2rem 2rem 0rem 0rem;
  position: relative;
  z-index: 1;
  margin-top: -2rem;
}

footer {
  background-color: #2f2f2f;
  color: white;
  padding: 1rem;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 0.5rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding-bottom: 0.32em;
}
footer ul li a {
  font-size: 0.9rem;
  color: white;
}
footer ul li a:hover {
  font-weight: bold;
}

/* Pages */
.location {
  padding: 1rem 0rem;
  text-align: center;
  background-color: #e7e7e7;
}
.location i {
  font-size: 1rem;
  color: #2f2f2f;
}
.location span {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #2f2f2f;
  font-weight: bold;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #f6f5f5;
  padding: 1rem;
}
.reservation h2 {
  width: 10rem;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}
.reservation p {
  width: 20rem;
  font-size: 0.9rem;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.stepbystep ul {
  display: block;
}
.stepbystep ul li {
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: #f6f5f5;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.stepbystep ul li i {
  font-size: 1rem;
  margin-left: 1rem;
}
.stepbystep ul li span {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 1rem;
}

.restaurant ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.restaurant-card {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 5px 5px gray;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}
.restaurant-card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: center;
}
.restaurant-card__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.restaurant-card__container__titles {
  width: 10rem;
}
.restaurant-card__container__titles h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.restaurant-card__container__titles h4 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 0.9rem;
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
