.cta {
    @include flex-center-center;
    
    &__btn{
        position:relative;
        z-index: 1;
        cursor: default;
        color: white;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 10rem;
        background: $co-gradient;
        padding: 1rem 2rem;
        margin: 1.5rem 0rem;
        box-shadow: $box-shadow;
        
        &:hover{
            &::after{
                opacity: 1;
                box-shadow: $box-shadow-over;
            }
        }
        
        &::after{
            content:"";
            position: absolute;
            z-index: -1;
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            border-radius: 10rem;
            background: darken($co-secondary, 10);
            transition: opacity 330ms;
             
        }
    }
}