.cta {
    @include flex-center-center;
    
    &__btn{
        position:relative;
        z-index: 1;
        cursor: default;
        color: white;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 10rem;
        background: $co-gradient;
        padding: 1rem 2rem;
        margin: 1.5rem 0rem;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20),3px 3px 6px rgba(0, 0, 0, 0.10);
        
        &:hover{
            &::after{
                opacity: 1;
                box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.20),3px 3px 12px rgba(0, 0, 0, 0.10);
            }
        }
        
        &::after{
            content:"";
            position: absolute;
            z-index: -1;
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            border-radius: 10rem;
            background-color: $bg-secondary;
            transition: opacity 400ms;
             
        }
    }
}