.heart-btn{
    cursor: pointer;
    @include flex-center-center;
    
    &__bg{
        position: absolute;
        color: transparent;
        font-size: 1.5rem;
        z-index: 4;
    }
    
    &__border{
        position: absolute;
        z-index: 2;
        font-size: 1.5rem;
        background-color: transparent;
        color: black;
    }
    
    &:hover > .heart-btn__bg{
        opacity: 1;
        background: -webkit-linear-gradient(-90deg, #9356dc, #ff79da);
        -webkit-background-clip: text;
    }
    
    &:hover > .heart-btn__border{
        opacity: 0;
    }
}