.heart-btn{
    cursor: pointer;
    @include flex-center-center;
    /* align-self: flex-start; */
    
    &__bg{
        position: absolute;
        color: transparent;
        font-size: 20px;
        z-index: 4;
        
        &:hover{
            color:$co-primary;
            opacity: 0.8;
            transform-origin: bottom;
            transition-duration: 1s; 
        }
        
    }
    
    &__border{
        position: absolute;
        color: $co-grey_dark;
        font-size: 22px;
        z-index: 2;
    }


    
}