* {  
    margin: auto;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: $text_font;
}

li {
    list-style: none;
}

section {
    padding: 1rem;
}

.page-title {
    text-transform: uppercase;
    font-family: $text_font;
    font-size: 1rem;
    align-items: flex-start;
}