.bloc_page {
    max-width: 450px;
    margin:auto;
}

section {
    padding: 1rem;
}

.page-title {
    text-transform: uppercase;
    font-family: $ft-text;
    font-size: 1rem;
    align-items: flex-start;
}