* {  
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-family: $ft-text;
}

li {
    list-style: none;
}

.bloc_page {
    max-width: 450px;
    margin:auto;
}

section {
    font-family: $ft-text;
}
