.functioning-card{
    &__number{
        width: 1rem;
        height: 1rem;
        background-color: $bg-primary;
        color: white;
        font-size: 1rem;
        border-radius: 25rem;
    }
}