.page-title {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    align-items: flex-start;
}

/* ### spinner Loader ### */

.spin-container{

    width: 100%;
    animation: spin-container 5s ease-in-out;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin-top: 95px;
    z-index: -1;
}

 .spin {
    border: 3px solid #0D4B9F;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
    }
        #loader2 {
        border: 3px solid #E0EDFF;
        width: 220px;
        height: 220px;
        position: relative;
        top: -216px;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
      }
      #loader3 {
        border: 3px solid #005CDC;
        width: 240px;
        height: 240px;
        position: relative;
        top: -452px;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
      }
      #loader4 {
        border: 3px solid #94B6E5;
        width: 260px;
        height: 260px;
        position: relative;
        top: -708px;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
      }
      @keyframes rotate {
        0% {
          transform: rotateZ(-360deg)
        }
        100% {
          transform: rotateZ(0deg)
        }
      }
      @keyframes rotate2 {
        0% {
          transform: rotateZ(360deg)
        }
        100% {
          transform: rotateZ(0deg)
        }
      }
      #text {
        color: #D6E3F6;
        font-family: Arial;
        font-size: 15px;
        position: relative;
        top: -857px;
      }

/* ### Page ### */

.reveal{
    animation: main 5s ease-in-out;
    opacity: 1;
    z-index: 1;
}


.location{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    color: rgb(47, 47, 47);
    padding: 1rem 0rem;
    text-align: center;
    background-color: $bg_grey_dark;

    i{
        font-size: 1.1rem;
    }
    
    span{
        margin-left: 1rem;
        font-weight: 400;
    }
}

.reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-grey_clear;
    padding: 2rem 1rem;

    h2{
        width: 15rem;
        text-align: center;
        padding: 0.5rem 1rem;
    }
    
    p{
        width: 20rem;
        font-size: 1rem;
        font-weight: lighter;
        padding: 0.5rem 1rem;
        text-align: center;
    }
}

.stepbystep{
    padding: 1rem;
    ul{
        /* display: block; */
        
        .step{
            cursor: default;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            height: 2rem;
            background-color: $bg-grey_clear;
            border-radius: 1rem;
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            
            
            &:hover{
                &::after{
                    opacity: 1;
                }
                
            }

            &:hover > i {
                color: $bg-primary;
            }
            
            &::after{
                content:"";
                position: absolute;
                z-index: -1;
                top:0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: opacity 250ms;
                border-radius: 1rem;
                background-color: rgb(242,235,254);
            }
            
            i {
                font-size: 1.2rem;
                margin-left: 1rem;
                transition : 250ms;
            }
            
            span {
                font-size: 0.9rem;
                font-weight: bold;
                margin-left: 1rem;
            }
            
            .number{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 100%;
                background-color: $bg-primary;
                color: white;
                position: relative;
                left: -40px;
            }
            
        }
    }
}

.restaurant{
    padding: 1rem;
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.restaurant-card{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20),3px 3px 6px rgba(0, 0, 0, 0.10);
    margin: 0.5rem 0.5rem 0.5rem 0rem;

    &:hover{
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.20),3px 3px 12px rgba(0, 0, 0, 0.10);
    }
   
    img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        &__titles{
            width: 10rem;

            h3{
                font-family: $ft-text;
                color: black;
                font-size: 1rem;
                font-weight: bold;
            }

            h4{
                font-family: $ft-text;
                color: black;
                font-size: 0.9rem;
                font-weight: lighter;
            }
        }
    }
}