.location{
    padding: 1rem 0rem;
    text-align: center;
    background-color: $bg_grey_dark;
    
    i{
        font-size: 1rem;
        color: rgb(47, 47, 47);
    }
    
    span{
        font-family: $ft-text;
        font-size: 0.9rem;
        color: rgb(47, 47, 47);
        font-weight: bold;
    }
}