.location {
    padding: 1rem 0rem;
    text-align: center;
    background-color: $bg_grey_dark;
    & i {
        color: rgb(47, 47, 47);
        font-size: 1rem;
    }
    & span {
        color: rgb(47, 47, 47);
        font-size: 0.9rem;
        font-family: $ft-text;
        font-weight: bold;
    }
}