.menu-hero {    
    width: 100%;
    
    img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    }
}

.menu{
    position: relative;
    margin-top: -2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 4rem 1rem;
    background-color: $co-grey_clear;
    border-radius: 2rem 2rem 0rem 0rem;

    h2{
        font-family: $ft-logo_and_title;
    }

    h3{
        font-family: $ft-text;
        font-size: 1rem;
        font-weight: lighter;
        padding: 1rem 1rem 1rem 0rem;
        text-transform: uppercase;
        
        span{
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            text-decoration-color:$co-tertiary;
        }
        
    }
}

.menu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 0rem;
}


.menu-card{
    display: flex;
    cursor: default;
    background-color: white;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 0.75rem;
    margin: 1rem 0rem 1rem 0rem;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: 500ms;
	animation: slide-top 0.5s ease-in-out both;
    
    &.delay-1{
    animation-delay: 150ms;
    }
    
    &.delay-2{
    animation-delay: 300ms;
    }
    
    &.delay-3{
    animation-delay: 450ms;
    }

    &.delay-4{
    animation-delay: 600ms;
    }
    
    &:hover{
        box-shadow: $box-shadow-over;
    }

    &:hover > .menu-card__validation{
        margin-right: -1rem;
        
        i {
            transform: rotate(0deg);
        }
    }

    &__infos{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;

        h4{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1rem;
        font-weight: bold;
        }

        p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.9rem;
        font-weight: lighter;
        }
    }

    &__price{
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
    }

    &__validation {
        background-color: $co-tertiary;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.6s;

        & i{
            color: white;
            font-size: 1.5rem;
            transform: rotate(-360deg);
            transition-duration: 0.7s;
        }

    }
}

.order{
    padding: 1rem 8rem 2rem 8rem;
}
