.reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $ft-text;
    background-color: $bg-grey_clear;
    padding: 1rem;

    h2{
        width: 10rem;
        font-size: 1rem;
        margin-top: 1rem;
        text-align: center;
    }
    
    p{
        width: 20rem;
        font-size: 0.9rem;
        font-weight: lighter;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}