/* #### Spinner Loader #### */

@keyframes spin-container{
  0%{
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes main{
  0%{
    opacity: 0;
  }
  
  90%{
    transition: scale(0);
    opacity: 0;
  }

  100%{
    transition: scale(1);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

/* #### Restaurant card reveal #### */

@keyframes slide-top {
  0%{
            transform: translateY(50px);
            opacity: 0;
  }
  100%{
            transform: translateY(0px);
            opacity:1;
  }
}




