// Fonts //
$ft-logo_and_title:'Shrikhand', cursive;
$ft-text: 'Roboto', sans-serif;

// Colors //
$co-primary:#9356DC;
$co-secondary:#FF79DA;
$co-tertiary:#99E2D0;
$co-grey_clear: rgb(246, 245, 245);
$co-grey_dark:rgb(231, 231, 231);
$co-gradient : linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);

/* Background Colors */
$bg-primary:#9356DC;
$bg-secondary:#FF79DA;
$bg-tertiary:#99E2D0;
$bg-grey_clear: rgb(246, 245, 245);
$bg-grey_dark:rgb(231, 231, 231);

$box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20),3px 3px 6px rgba(0, 0, 0, 0.10);
$box-shadow-over: 3px 3px 12px rgba(0, 0, 0, 0.20),3px 3px 12px rgba(0, 0, 0, 0.10);