footer{
    background-color: rgb(47, 47, 47);
    color:white;
    padding: 1rem;
    & h2{
        font-family: $logo_and_title_font;
        font-size: 1rem;
        font-weight: normal;
        padding-bottom: 0.5rem;
    }
    & ul{
        list-style: none;
    }
    & li{
        padding-bottom: 0.32em;
    }
    & li a{
        font-size: 0.9rem;
        color: white;
    }
    & li a:hover{
        font-weight: bold;
    }
}