.menu-card{
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px grey;
    background-color: white;
    margin: 1rem 0rem;
    padding: 0.7rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    
    &__infos{
        h4{
            font-size: 1rem;
            padding-bottom: 0.1rem;
        }
        p{
            font-size: 0.9rem;
            font-weight: lighter;
        }
    }
    
    span{
        align-self: flex-end;
        font-weight: bold;
    }
}