.menu-card{

    display:flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 0.9rem;
    background-color: white;
    margin-bottom: 1rem;
    
    &__container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.7rem;

        &__titles{
            
            h4{
                color: black;
                font-size: 1rem;
            }
    
            p{
                color: black;
                font-weight: lighter;
            }
        }

        span{
            color: black;
            font-weight: bold;
        }

        &:hover + .menu-card__checked{
            transform: translate(-100px,0);
            i{
                transform: rotate(0deg);
            }
        }
    }

    &__checked{
        display: flex;
/*         justify-content: center;
        align-items: center; */
        width: 200px;
        position: relative;
        left: 100px;
        background-color: $bg-tertiary;
        transform: translate;
        transition: transform 330ms ease-in-out;
        color: white;
        font-size: 1.5rem;

        &__container1{
            width: 100px;
            display: flex;
            background-color: red;
            
            span{
                color: white;
            }
        }

        &__container2{
            width: 100px;
            display: flex;
            background-color: $bg-tertiary;
        }


        i{
            transform: rotate(180deg);
            transition: transform 600ms ease-in-out;
        }
    }

    /* cursor: pointer;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 5px 5px 5px grey;
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-between;

    &__infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        
        h4{
            display: inline;
            font-size: 1rem;
            padding-bottom: 0.1rem;
        }
            
        p{
            display: inline;
            font-size: 0.9rem;
            font-weight: lighter;
            text-overflow: ellipsis;
        }

        &:hover + .menu-card__checked{
            transform: translate(100px, 0);
        }
    }
    
    &__checked{
        display:flex;
        
        span{
            display: block;
            align-self: flex-end;
            font-weight: bold;
            padding-right: 1rem;
            padding-bottom: 1rem;
        }

        &__btn{
            width: 2.5rem;
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: $bg-tertiary;
            color: white;
            transition: transform 330ms ease-in;
        }

    } */
}